<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome to The Social Network, <%= @user.email %>!</h1>
    <p>
      To login to the site and keep up with all your friends, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
</body>
</html>