<section class="col-2-3">
  <ul>
    <% @users.each do |user| %>
      <% unless current_user == user %> 
        <li><%= link_to user.email, user %></li>
        <% if current_user.pending_friends.include?(user) %>
          <li>Pending</li>
        <% elsif current_user.friends.include?(user) %>
          <li>Friend</li>
        <% else %>
          <%= link_to "Add Friend", friendships_path(:friend_id => user, :status => "confirmed"), :method => :post %>
        <% end %>
      <% end %>
    <% end %>
  <ul>
</profile>