<ul>
  <% @users.each do |user| %>
    <% unless current_user == user %> 
      <li><%= link_to user.email, user %></li>
      <% if current_user.pending_friends.include?(user) %>
        <li>Pending</li>
      <% elsif current_user.friends.include?(user) %>
        <li>Friends</li>
      <% else %>
        <%= form_for(current_user.friendship.build(friend_id: user.id, status: "pending")) do |f| %>
        <%= f.submit "Add Friend" %>
        <% end %>    
      <% end %>
    <% end %>
  <% end %>
<ul>