@import "reset";
@import "bootstrap";



//Layout
.clearfix {
  overflow: auto; 
}

*, *:before, *:after {
  box-style: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

wrapper {
  width: 100%;
}

.column-main {
  width: 96%;
  margin: 0 auto;
  max-width: 650px;
}
.column-main-content {
  text-align: center;
  position: relative;
}

.row {
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  clear: left;
  overflow: hidden;
}

.field {
  label {
    font-size: 2.5em;
    font-weight: 400;
  }
  input{ 
    width: 350px;
    height: 30px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
  }
}
.actions {
  margin-top: 10px;
}






.profile {
  img {
    margin: 0 auto;
  }
}





// Header

header {
  height: 75px;
  line-height: 75px;
  width: 100%;
  background: #000000;
  ul {
    text-align: center;
    font-size: 16px;
  }
  li {
    display: inline-block;
    margin-top: 15px;
  }
  a, a:hover, a:visited {
    text-decoration: none;
    color: #ffffff
  }
  #logo {
    margin-top: 15px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 12px;
    font-weight: bold;
    line-height: 1;
    a:hover {
      color: #93d400;
      text-decoration: none;
    }
  }
  .navigation {
    float: left;
    margin-left: 25%;
    //Notifications
    button {
      background-color: transparent;
      border: none;
      span {
        font-size: 24px;
        color: #fff;
      }
      .positive {
        color: #93d400;
      }   
    }
  }
}







// Forms  This is holding my button together

.field, .actions {
  text-align: center;
}
.form-control {
  padding: 0;
}
.form-group{
  margin-top: 10px;
}






// Buttons



.btn-facebook {
  background: rgb(59,89,152);
  width: 350px;
  height: 60px;
  color: white;
}
.btn-facebook:hover {
  color: white;
  background: rgb(59,89,200);
}

.btn-sign-up{
  background: #444444;
  border-color: #444444;
  width: 100px;
}
.btn-sign-up:hover {
  background: #444444;
  border-color: #444444;
  color: #93d400;
}







//Typography

h1, h3 {
  text-align: center;
}
h1 {
  font-weight: 300;
  margin-bottom: 20px;
}
h2{
  font-size: 4.0em;
  font-weight: 600;
  margin-bottom: 20px;
  float: left;

}

h3{
    font-size: 1.25em;
}
h6 {
  margin: 0;
}





//Users Page





// Posts

[class*= "container"] {
  width: 96%;
  border: 1px solid black;
  border-radius: 7px;
  margin: 2%;
  
  [class*= "inner"] {
    width: 98%;
    height: 98%;
    margin: 1%;
  }
  img {
    float: left;
    margin-right: 1%;
  }
  [class*="meta-data"] {
    height: 98%;
    width: 99%%;
    margin: 1% 0 1% 1%;
  }
  p {
    font-weight: 700;
  }
  [class*="content"] {
    width: 100%;
    margin: 2%;
  } 
}
.comment-container {
    width: 94%;
    margin: 2% 2% 2% 4%;
  }

@media only screen and (min-width: 480px) {


}
