@import "reset";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900,300italic);






//Layout
.clearfix {
  overflow: auto;
  
}
*, *:before, *:after {
  box-style: border-box;
  font-family: 'Roboto', sans-serif;
}
.col-2-3 {
  width: 60.5%;

}
.col-1-3 {
  width: 28.5%;

}
.container {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 50px;
  background: black;
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #ffffff
  }
  #logo {
    float:left;
    color: #ffffff;
    font-size: 36px;
  }
  .signin {
    float: right;
  }
}




//Profile

.profile {
  text-align: center;
  margin-top: 25px;
  p {

  }
}





//Typography

h1 {
  font-size: 2.0em;
  font-weight: 300;
  text-align: center;
}
h3{
    font-size: 1.25em;
    text-align: center;

}





//Users Page



